.sidebar {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    transition: all 0.5s;

    width: 8rem;
    list-style: none;
    padding: 5rem 0;
    background-color: $color-secondary-light;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 15px;
    margin-left: 1.5rem;
    z-index: 100000;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    &:hover ~ * {
        backdrop-filter: grayscale(1) blur(1px);
        filter: grayscale(1) blur(1px);
    }

    &:hover {
        width: 20rem;
    }

    &:hover > &__item > &__link {
        opacity: 1;
        visibility: visible;
    }

    &__item {
        padding: 1rem 2rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &:hover {
            background-color: $color-white;

            & > .sidebar__link {
                color: $color-secondary-light;
            }
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-white;
        padding-left: 3rem;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
    }

    &__icon {
        background-color: rgba($color-white, 0.8);
        color: $color-grey-dark-1;
        border-radius: 5px;
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        transition: all 0.2s;
    }
}

.sidebar__item:hover {
    .sidebar__icon {
        color: $color-grey-dark-3;
    }
}

.sidebar__link--disabled {
    pointer-events: none;
    background-color: rgba($color-grey-light-2, 0.2);
    filter: brightness(80%);
}
